data/binaryData/workflows/21CaH7cjkLK8UYbI/executions/1409/binary_data/31d1cd1b-e12f-4948-b1b7-e9984b7f629e
{
  "createdAt": "2025-06-20T17:10:30.558Z",
  "updatedAt": "2025-06-20T17:14:10.000Z",
  "id": "21CaH7cjkLK8UYbI",
  "name": "Automated daily workflow backup to GitHub",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "5bd64b38-5faa-4c23-9a25-fed5b73763b8",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -380,
        100
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "b143e03e-7571-4763-bba5-0381d8959c8a",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        100,
        100
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "ahc2qEdYArWSLM0e",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "27fa76ef-8fda-46e6-9b12-c97e53c08fcb",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -60,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "sparkz-technology",
          "mode": "list",
          "cachedResultName": "sparkz-technology",
          "cachedResultUrl": "https://github.com/sparkz-technology"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflow",
          "mode": "list",
          "cachedResultName": "n8n-workflow",
          "cachedResultUrl": "https://github.com/sparkz-technology/n8n-workflow"
        },
        "filePath": "="
      },
      "id": "cd690ee2-d0ae-4887-8e3d-0e90772ea5b7",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -220,
        100
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "1qRiwnAnU9lbTS3G",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "sparkz-technology",
          "mode": "list",
          "cachedResultName": "sparkz-technology",
          "cachedResultUrl": "https://github.com/sparkz-technology"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflow",
          "mode": "list",
          "cachedResultName": "n8n-workflow",
          "cachedResultUrl": "https://github.com/sparkz-technology/n8n-workflow"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "e7e7bb17-f275-45b4-bb16-a87f7a1ec220",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        900,
        20
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "1qRiwnAnU9lbTS3G",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "e1e7d6bb-0c43-435f-923d-91d612ed5464",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        740,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "2c48f2e5-4fb5-4e57-9bad-f107996d7c26",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        260,
        100
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "4ce79e61-16e9-4832-98cd-0ce12dabb14b",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        420,
        100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "a4b46082-8195-4d8c-8d81-8fa1b4786c94",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "2f070d24-dd2b-488a-a197-6f1392648250",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        580,
        100
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "9fd07261-4f36-4640-893d-d4165291add6",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "87ae7485-5383-4b82-8f99-ef80e74ba6b3",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "sparkz-technology",
          "mode": "list",
          "cachedResultName": "sparkz-technology",
          "cachedResultUrl": "https://github.com/sparkz-technology"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-workflow",
          "mode": "list",
          "cachedResultName": "n8n-workflow",
          "cachedResultUrl": "https://github.com/sparkz-technology/n8n-workflow"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "d4159a9d-bcee-41ef-8185-ac6bdb218698",
      "name": "Create file",
      "type": "n8n-nodes-base.github",
      "position": [
        900,
        180
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "1qRiwnAnU9lbTS3G",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9d3caeb3-ab8f-4652-b3f5-aed5874f5dda",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-06-20T17:08:57.674Z",
      "updatedAt": "2025-06-20T17:08:57.674Z",
      "id": "CPAmpiWUO8B0WuTw",
      "name": "sparkz"
    }
  ]
}